.Button {
	background-color: transparent;
	color: var(--color-secundary);
	font-size: var(--font-size);
	line-height: 1;
	padding: 12px 16px 12px 12px;
	border-radius: var(--radius);
	display: flex;
	align-items: center;
	border: none;
	&:focus {
		outline: none;
	}
	&::before {
		content: "";
		display: inline-block;
		width: 24px;
		height: 24px;
		background-size: contain;
		
	}
	&:hover {
		color: white;
		cursor: pointer;
		
	}

	&.actived {
		color: var(--color-white);
	}
	&.Button--Like, &.Button--MiniLike {
		border: 1px solid var(--color-secundary);
		&::before {
			background-image: url("./assets/icon-hearth.svg");
			margin-right: 12px;
		}
		&:hover {
			border-color: var(--color-negative);
			&::before {
				background-image: url("./assets/icon-hearth-hover.svg");
			}
		}
		&.actived{
			border-color: var(--color-negative);
			background-color: var(--color-negative);
			&::before {
				background-image: url("./assets/icon-hearth-actived.svg");
			}
		}
	}

	&.Button--MiniLike {
		border: none;
		&::before {
			margin-right: 0;
		}
	}

	&.Button--Back {
		&::before {
			background-image: url("./assets/icon-back.svg");
		}
		&:hover {
			&::before {
				background-image: url("./assets/icon-back-hover.svg");
			}
		}
		.actived {
			&::before {
				background-image: url("./assets/icon-back-actived.svg");
			}
		}
	}
}